<div class="container">
  <row>
    <div class="d-flex justify-content-between align-items-center mx-3 my-4">
      <div>
        <h4 class="bg-light d-inline px-4">
          商品一覧
        </h4>
      </div>

      <div>
        <%= link_to new_admin_item_path do %>
          <div class="btn btn-lg bg-white shadow-sm rounded-circle">+</div>
        <% end %>
      </div>
    </div>

    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th class="col-1">商品ID</th>
          <th class="col-3">商品名</th>
          <th class="col-1">税抜価格</th>
          <th class="col-3">ジャンル</th>
          <th class="col-1">ステータス</th>
        </tr>
      </thead>

      <tbody class="table-borderless border-bottom">
        <% @items.each do |item| %>
          <tr>
            <td class="align-center">
              <%= item.id %>
            </td>

            <td>
              <%= link_to admin_item_path(item.id), class: 'text-dark' do %>
                <u><%= item.name %></u>
              <% end %>
            </td>

            <td>
              <%= p item.price.to_s(:delimited) %>
            </td>

            <td>
              <%= Genre.find(item.genre_id).name %>
            </td>

            <td>
              <% if item.is_active == true %>
                <p class="text-success"><strong>販売中</strong></p>
              <% else %>
                <p class="text-secondary"><strong>販売停止中</strong></p>
              <% end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div><%= paginate @items %></div>
  </row>
</div>