<div class="container">
<h2>管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>
  <table class="table">
    <!--email_form-->
    <tr>
      <th>メールアドレス</th>
      <td>
        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </td>
    </tr>

    <!--password_form-->
    <tr>
      <th>パスワード</th>
      <td>
        <div class="field">
          <%= f.password_field :password %>
        </div>
      </td>
    </tr>

    <tr>
      <th></th>
      <td>
        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-primary' %>
        </div>
      </td>
    </tr>
  </table>



<% end %>

<%= render "admin/shared/links" %>
</div>