<div class="container">
  <div class="mx-5 my-4">
    <h4 class="bg-light d-inline px-4">
      <%= @customer.full_name %>さんの会員情報編集
    </h4>
  </div>

  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

  <row>
    <table class="table table-sm table-borderless col-9">
      <tbody>
        <tr>
          <td class="col-2">会員ID</td>

          <td class="col-4"><%= @customer.id %></td>

          <td class="col-4"></td>
        </tr>

        <tr>
          <td>氏名</td>

          <td>
            <div class="field">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'w-75 form-control border-dark' %>
            </div>
          </td>

          <td>
            <div class="field">
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'w-75 form-control border-dark' %>
            </div>
          </td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td>
            <div class="field">
              <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: 'w-75 form-control border-dark' %>
            </div>
          </td>

          <td>
            <div class="field">
              <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: 'w-75 form-control border-dark' %>
            </div>
          </td>
        </tr>

        <tr>
            <td>郵便番号</td>
          <td>
             <div class="field">
              <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: 'w-75 form-control border-dark' %>
              </div>
          </td>
        </tr>

        <tr>
          <td>住所</td>
          <td colspan="2">
            <div class="field">
              <%= f.text_field :address, autofocus: true, class: 'w-100 form-control border-dark' %>
            </div>
          </td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td>
            <div class="field">
              <%= f.text_field :telephone_number, autofocus: true, class: 'w-75 form-control border-dark' %>
            </div>
          </td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td>
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-75 form-control border-dark' %>
            </div>
          </td>
        </tr>

        <tr>
          <td class="align-middle">会員ステータス</td>

          <td>
            <div class="d-flex my-2">
              <div class="mr-3">
                <%= f.radio_button :is_deleted, false %>
                <%= f.label :is_deleted, '有効', value: false %>
              </div>

              <div>
                <%= f.radio_button :is_deleted, true %>
                <%= f.label :is_deleted, '退会', value: true %>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td></td>

          <td>
            <%= f.submit "変更を保存", class: 'btn btn-success' %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>