<div class="container">
  <row>
    <div class="mx-5 my-4">
      <h4 class="bg-light d-inline px-4">
        ジャンル一覧・追加
      </h4>
    </div>

    <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <div class="d-flex align-items-center my-5">
        <div class="m-3 col-2">ジャンル名</div>

        <div class="col-3">
          <%= f.text_field :name, class: 'form-control border-dark' %>
        </div>

        <div class="m-3">
          <%= f.submit '新規登録', class: 'btn btn-success mx-3' %>
        </div>
      </div>
    <% end %>

  <table class="table border-bottom col-5">

    <thead class="table-secondary">
      <tr>
        <th class="text-center col-3">ジャンル</th>

        <th class="text-center col-2"></th>
      </tr>
    </thead>

    <tbody>
      <% @genres.each do |genre| %>

        <tr>
          <td class="align-middle"><%= genre.name %></td>
          <td class="text-center">
            <%= link_to edit_admin_genre_path(genre.id) do %>
              <div class="btn btn-success">編集する</div>
            <% end %>
          </td>
        </tr>

      <% end %>

    </tbody>

  </table>
  </row>
</div>