<div class="container">
  <div class="mx-5 my-4">
    <h4 class="bg-light d-inline px-4">
      配送先編集
    </h4>
  </div>

  <%= form_with model: @address, url: address_path(params[:id]), method: :patch do |f| %>
    <row class="m-3">
      <table class="table table-sm table-borderless col-11">
        <tbody>
          <tr>
            <td class="col-3">郵便番号(ハイフンなし)</td>
            <td class="col-3">
              <%= f.text_field :postal_code, class: 'w-100 form-control border-dark' %>
            </td>
            <td class="col-4"></td>
            <td class="col-3"></td>
          </tr>

          <tr>
            <td>住所</td>
            <td colspan="2">
              <%= f.text_field :address, class: 'w-100 form-control border-dark' %>
            </td>
          </tr>

          <tr>
            <td>宛名</td>
            <td>
              <%= f.text_field :name, class: 'w-100 form-control border-dark' %>
            </td>

            <td></td>

            <td>
              <%= f.submit '変更を保存', class: 'btn btn-success w-100 px-3' %>
            </td>
          </tr>
        </tbody>
      </table>
    </row>


  <% end %>

</div>