<div class="container">
  <div>
    <%= flash[:notice] %>
  </div>

  <div class="mx-5 my-4">
    <h4 class="bg-light d-inline px-4">
      新規会員登録
    </h4>
  </div>

  <%= form_with model: @customer, url: customer_registration_path do |f| %>
  
    <row class>
      <%= render "public/shared/error_messages", resource: resource %>
      <table class="table table-sm table-borderless col-10">
        <tbody>
          <tr>
            <td class="col-2 align-middle">名前</th>
            
            <td class="col-1 align-middle text-right">(姓)　</td>
            
            <td class="col-3">
              <div class="field">
                <%= f.text_field :last_name, autofocus: true, class: 'w-100 form-control border-dark', placeholder: '令和' %>
              </div>
            </td>
            
            <td class="col-1 align-middle text-right">(名)　</td>
            
            <td class="col-3">
              <div class="field">
                <%= f.text_field :first_name, autofocus: true, class: 'w-100 form-control border-dark', placeholder: '道子' %>
              </div>
            </td>
          </tr>

          <tr>
            <td class="align-middle">フリガナ</th>
            <td class="align-middle text-right">(セイ)</td>
            <td>
              <div class="field">
                <%= f.text_field :last_name_kana, autofocus: true, class: 'w-100 form-control border-dark', placeholder: 'レイワ' %></td>
              </div>
            <td class="align-middle text-right">(メイ)</td>
            <td>
              <div class="field">
                <%= f.text_field :first_name_kana, autofocus: true, class: 'w-100 form-control border-dark', placeholder: 'ミチコ' %>
              </div>
            </td>
          </tr>
  
          <tr>
            <td class="align-middle">メールアドレス</th>
            <td></td>
            <td>
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100 form-control border-dark', placeholder: 'sample@example.com' %>
              </div>
            </td>
          </tr>
  
          <tr>
            <td class="align-middle">郵便番号(ハイフンなし)</th>
            <td></td>
              <td>
               <div class="field">
                <%= f.text_field :postal_code, autofocus: true, class: 'w-100 form-control border-dark', placeholder: '0000000' %>
              </div>
            </td>
          </tr>
  
          <tr>
            <td class="align-middle">住所</th>
            <td></td>
            <td colspan="3" class="">
                <div class="field">
                <%= f.text_field :address, autofocus: true, class: 'w-100 form-control border-dark', placeholder: '東京都渋谷区代々木神園町0-0' %>
              </div>
            </td>
          </tr>
  
          <tr>
            <td class="align-middle">電話番号(ハイフンなし)</th>
            <td></td>
            <td>
              <div class="field">
                <%= f.text_field :telephone_number, autofocus: true, class: 'w-100 form-control border-dark' %>
              </div>
            </td>
          </tr>
  
          <tr>
            <td class="align-middle">パスワード(6文字以上)</th>
            <td></td>
            <td>
              <div class="field">
                <%= f.password_field :password, autocomplete: "new-password", class: 'w-100 form-control border-dark' %>
              </div>
            </td>
          </tr>
  
          <tr>
            <td class="align-middle">パスワード(確認用)</th>
            <td></td>
            <td>
              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-100 form-control border-dark' %>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <div class="actions fw-bold">
                <%= f.submit "新規登録", class: 'btn btn-success px-5' %>
              </div>
            </td>
          </tr>
  
          <tr>
            <th>&nbsp;</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
  
          <tr>
            <th colspan="5" class="m-3">
              <h4 class="bg-light d-inline m-2 px-4">
                既に登録済みの方
              </h4>
              <div class="mx-5 my-4">
                <%= link_to "こちら", new_customer_session_path, class: 'text-decoration-underline' %>
                &nbsp;からログインしてください。
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </row>
  <% end %>
</div>