<div class="container">

  <h2>
    注文情報入力
  </h2>

  <%= form_with model: @order ,url: orders_confirmation_path do |f| %>

  <div>
    <h3>支払方法</h3>
      <div>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
      </div>

      <div>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
      </div>
  </div>

  <div>
    <h3>お届け先</h3>

    <div>
      <%= f.radio_button :select_address, 0 %>
      <%= f.label :select_address, 'ご自身の住所' %>
      <div>
        <%= current_customer.address_display %>
      </div>
    </div>

    <div>
      <%= f.radio_button :select_address, 1 %>
      <%= f.label :select_address, '登録済住所から選択' %>
      <div>
        <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %>
      </div>
    </div>
    <div>
      <%= f.radio_button :select_address, 2 %>
      <%= f.label :select_address, '新しいお届け先' %>
      <table>
        <tbody>
          <tr>
            <th>郵便番号(ハイフンなし)</th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th>宛名</th>
            <td><%= f.text_field :name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <%= f.submit '確認画面へ進む', class: 'btn  btn-primary' %>
  </div>


  <% end %>

</div>