<div class="container">
  <div class="mx-5 mb-4">
    <h4 class="bg-light d-inline px-4">
      注文履歴詳細
    </h4>
  </div>

  <div class="row">
    <div class="d-flex col-md-11">
      <div class="col-md-8">
        <div class="my-2">
          <strong>注文情報</strong>
        </div>

        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-secondary col-3">注文日</td>
              <td class="col-9">
                <%= @order.created_at.strftime("%Y/%m/%d") %>
              </td>
            </tr>

            <tr>
              <td class="table-secondary">配送先</td>
              <td>
                〒<%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
              </td>
            </tr>

            <tr>
              <td class="table-secondary">支払方法</td>
              <td>
                <%= @order.payment_method_i18n %>
              </td>
            </tr>

            <tr>
              <td class="table-secondary">ステータス</td>
              <td>
                <%= @order.status_i18n %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <div class="my-2">
          <strong>請求情報</strong>
        </div>

        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-secondary col-6">商品合計</td>
              <td class="col-5">
                <%= p (@order.total_payment - @order.shipping_cost).to_s(:delimited) %>
              </td>
            </tr>

            <tr>
            <td class="table-secondary">配送料</td>
              <td>
                <%= p @order.shipping_cost.to_s(:delimited) %>
              </td>
            </tr>

            <tr>
              <th class="table-secondary">ご請求額</th>
              <td>
                <%= p @order.total_payment.to_s(:delimited) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-flex col-md-12">
      <div class="col-md-9">
        <div class="my-2">
          <strong>注文内容</strong>
        </div>

        <table class="table table-bordered">
          <thead class="table-secondary">
            <tr>
              <td class="col-7">商品</td>
              <td class="col-2">単価（税込）</td>
              <td class="col-1">個数</td>
              <td class="col-1">小計</td>
            </tr>
          </thead>

          <tbody>
            <% @order.order_details.each do |order_detail| %>
              <tr>
                <td>
                  <%= order_detail.item.name %>
                </td>

                <td>
                  <%= p order_detail.price.to_s(:delimited) %>
                </td>

                <td>
                  <%= order_detail.amount %>
                </td>

                <td>
                  <%= p order_detail.subtotal.to_s(:delimited) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>