<div class="container">
<h2>ログイン</h2>

<%= form_with model: @customer, url: customer_session_path do |f| %>


  <table class="table">
    <!--email_form-->
    <tr>
      <th>メールアドレス</th>
      <td>
        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </td>
    </tr>

    <!--password_form-->
    <tr>
      <th>パスワード</th>
      <td>
        <div class="field">
          <%= f.password_field :password %>
        </div>
      </td>
    </tr>

    <tr>
      <th></th>
      <td>
        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-primary' %>
        </div>
      </td>
    </tr>
  </table>

<% end %>

  <div>
    <h4>
      会員登録がお済みでない方
    </h4>

    <%= link_to "こちら", new_customer_registration_path, class: 'text-decoration-underline' %>
    &nbsp;からログインしてください。
  </div>
</div>