<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1、maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-light navbar-light w-100 mb-5 border-bottom border-dark">
        <div class="container">

          <!--logo-->
          <a class="navbar-brand btn btn-outline-dark" href="/">Nagano Cake</a>
          <row>
          <!--humburger_menu-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--links-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <% if admin_signed_in? %>

                <li class="nav-item m-3">
                  <%= link_to admin_items_path, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                    商品一覧
                  <% end %>
                </li>

                <li class="nav-item m-3">
                  <%= link_to admin_customers_path, class: 'nav-link px-3 btn btn btn-outline-secondary' do %>
                    会員一覧
                  <% end %>
                </li>

                <li class="nav-item m-3">
                  <%= link_to admin_path, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                    注文履歴一覧
                  <% end %>
                </li>

                <li class="nav-item m-3">
                  <%= link_to admin_genres_path, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                    ジャンル一覧
                  <% end %>
                </li>

                <li class="nav-item m-3">
                  <%= link_to  destroy_admin_session_path, method: :delete, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                    ログアウト
                  <% end %>
                </li>

              <% else %>

                <% if customer_signed_in? %>

                  <div>
                    ようこそ、<%= Customer.find(current_customer.id).last_name %>さん！
                  </div>

                  <li class="nav-item m-3">
                    <%= link_to customers_path, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                      マイページ
                    <% end %>
                  </li>

                  <li class="nav-item m-3">
                    <%= link_to items_path, class: 'nav-link px-3 btn btn btn-outline-secondary' do %>
                      商品一覧
                    <% end %>
                  </li>

                  <li class="nav-item m-3">
                    <%= link_to cart_items_path, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                      カート
                    <% end %>
                  </li>

                  <li class="nav-item m-3">
                    <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                      ログアウト
                    <% end %>
                  </li>

                <% else %>
                  <li class="nav-item m-3">
                    <%= link_to about_path, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                      About
                    <% end %>
                  </li>

                  <li class="nav-item m-3">
                    <%= link_to items_path, class: 'nav-link px-3 btn btn btn-outline-secondary' do %>
                      商品一覧
                    <% end %>
                  </li>

                  <li class="nav-item m-3">
                    <%= link_to new_customer_registration_path, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                      新規登録
                    <% end %>
                  </li>

                  <li class="nav-item m-3">
                    <%= link_to new_customer_session_path, class: 'nav-link px-3 btn btn-outline-secondary' do %>
                      ログイン
                    <% end %>
                  </li>

                <% end %>
              <% end %>
                </ul>
            </div>

            <!--search_form-->
            <div class="input-wrapper m-3">

                <input class="d-flex ml-auto"></input>

            </div>
          </row>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="border-top border-dark mt-5">
        <div class="container m-5">
        </div>
      </div>
    </footer>
  </body>
</html>
